#movie-backdrop {
  width: 100%;
}

.container {
  padding-top: 32px;
  display: flex;
  justify-content: space-evenly;
  justify-items: stretch;
  flex-wrap: wrap;
}


body {
  background-color: black;
  color: aliceblue;
}

#actors {
  margin: 24px 16px 0 0;
}

.actorsList {
  display: flex;
  margin-top: 1rem;
  margin: 0;
  padding: 0;
  align-content: flex-start;
  cursor: pointer;
  justify-content: space-evenly;
  justify-items: stretch;
  flex-wrap: wrap;
}

.card {
  cursor: pointer;
  background-color: #46474b;
  color: aliceblue;
}

#movie-img {
  cursor: pointer;
}
#actor-img {
  cursor: pointer;
}

#actors {
  margin: 24px 16px 0 0;
}

.carousel {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.about-container {
  background-color: rgb(255, 255, 255);
  height: 500px;
  width: 100%;
}

.about-text {
  font-size: 20px;
  color: rgb(185, 42, 42);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.about-text2 {
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: end;
  margin-right: 150px;
}

.aboutImage {
  height: 307px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.actorInfo {
  margin-top: 2px;
}

.footerImage {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: solid rgba(41, 7, 7, 0.205);
  cursor: pointer;
}
